#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  margin: auto auto;
  max-width: 300px;
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: #4EA9F3;
}

.nav-link {
  font-family:  Arial Black, sans-serif;
}

.card {
  padding: 2em;
}